*.json
/incoming
*.mti
*.mpf
sim/calc_mvd_cost_int64_hls_output.bin
*.vcd
*.log
sim/transcript
*.wlf
/sim/work
soft/calc_mvd_cost_int64_hls/calc_mvd_cost_int64_hls_output.bin
soft/calc_mvd_cost_int64_hls/calc_mvd_cost_int64_tb
soft/calc_mvd_cost_int64_hls/calc_mvd_cost_test_data.bin
/syn/calc_mvd_cost.cache
/syn/calc_mvd_cost.hw
*.jou
*.str
/syn/calc_mvd_cost.runs
*.xpr
